/*Font Definition*/

@font-face {
    font-family: 'Bebas';
    src: url("/fonts/BebasNeue-Regular.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
body{
    background-color: ghostwhite;
    font-family: Bebas, sans-serif;
}


.content{
    display: flex;
    animation: fade-in 1s;
    margin-top: 15vw;
}

/*Home Page*/

.home{
    overflow: hidden;

    .topbar{
        display: flex;
        border-bottom: slategray 1px solid;
        padding-bottom: 1vh;
        font-size: 1.5vw;
        margin: -8px;
        background-color: gainsboro;

        #name {
            margin-left: 1vw;
            padding: 0.15vw 0.15vw 0.15vw 0.15vw;
        }
        #home{
            margin-right: 1vw;
            margin-left: auto;
            padding-left: 1vw;
            padding-right: 1vw;
            border-radius: 1vh;
            text-decoration: rgb(166, 0, 0) underline;
        }
        #projects{
            margin-right: 1vw;
            padding-left: 1vw;
            padding-right: 1vw;
            border-radius: 1vh;
            color: black;
            text-decoration: transparent underline;
            transition: text-decoration 0.1s;
        }
        #projects:hover{
            text-decoration: rgb(166, 0, 0) underline;
        }
        #contact{
            margin-right: 1vw;
            padding-left: 1vw;
            padding-right: 1vw;
            border-radius: 1vh;
            color: black;
            text-decoration: transparent underline;
            transition: text-decoration 0.1s;
        }
        #contact:hover{
            text-decoration: rgb(166, 0, 0) underline;
        }
    }

    #message{
        /*Margin*/

        margin-left: 15vw;
        h1{
            font-size: 5vw;
            #coloredName{
                color: rgb(166, 0, 0);
            }
        }
        h4{
            font-size: 2vw;
        }

    }

    #pfp{
        /*Margin*/
        margin-right: 15vw;
        margin-left: auto;
        img{
            /*Image Size*/
            width: 30vw;
            height: 30vw;

        }
    }

    footer{
        margin-top: 0.25vh;
        display: flex;
        margin-right: 0;
        margin-left: auto;
        animation: fade-in 1s;

        #linkedin{
            margin-right: 2vh;
            margin-left: 15vw;
            img {
                width: 6vh;
                height: auto;
            }
        }
        #github{
            margin-right: auto;
            img {
                width: 6vh;
                height: auto;
            }
        }
    }
}

.projects{

    .topbar{
        display: flex;
        border-bottom: slategray 1px solid;
        padding-bottom: 1vh;
        font-size: 1.5vw;
        margin: -8px;
        background-color: gainsboro;

        #name {
            margin-left: 1vw;
            padding: 0.15vw 0.15vw 0.15vw 0.15vw;
        }
        #home{
            margin-right: 1vw;
            margin-left: auto;
            padding-left: 1vw;
            padding-right: 1vw;
            border-radius: 1vh;
            color: black;
            text-decoration: transparent underline;
            transition: text-decoration 0.1s;
        }
        #home:hover{
            text-decoration: rgb(166, 0, 0) underline;
        }
        #projects{
            margin-right: 1vw;
            padding-left: 1vw;
            padding-right: 1vw;
            border-radius: 1vh;
            color:black;
            text-decoration: rgb(166, 0, 0) underline;
        }
        #contact{
            margin-right: 1vw;
            padding-left: 1vw;
            padding-right: 1vw;
            border-radius: 1vh;
            color: black;
            text-decoration: transparent underline;
            transition: text-decoration 0.1s;
        }
        #contact:hover{
            text-decoration: rgb(166, 0, 0) underline;
        }
    }
    #titleLine {
        font-size: 5vw;
        text-align: center;
        text-decoration: rgb(166, 0, 0) underline;
        animation: fade-in 1s;
        }
    .content{
        display: flex;
        animation: fade-in 1s;
        margin-top: 2vw;
        flex-direction: column;
    }
    .project{
        height: auto;
        width: auto;
        border: 10px solid;
        border-radius: 10px;
        margin: 5vw 5vw 0;
        background-color: ghostwhite;
        transition: filter 0.1s, margin 0.1s;

        .projectTitle{
            display: flex;
            h3{
                font-size: 2vw;
                margin-left: 0.75vw;
            }
            h4{
                font-size: 1vw;
                margin-right: 0.75vw;
                margin-left: auto;
            }
        }
        .projectDescription{
            margin-left: 0.75vw;
            margin-right: 0.75vw;
        }
    }
    .project:hover{
        filter: drop-shadow(0px 1vh 0px grey);
        margin-top: 4vw;
        margin-bottom: 1vw;
    }
}

.contact{
    overflow: hidden;

    .topbar {
        z-index: 5;
        display: flex;
        border-bottom: slategray 1px solid;
        padding-bottom: 1vh;
        font-size: 1.5vw;
        margin: -8px;
        background-color: gainsboro;

        #name {
            margin-left: 1vw;
            padding: 0.15vw 0.15vw 0.15vw 0.15vw;
        }

        #home {
            margin-right: 1vw;
            margin-left: auto;
            padding-left: 1vw;
            padding-right: 1vw;
            border-radius: 1vh;
            color: black;
            text-decoration: transparent underline;
            transition: text-decoration 0.1s;
        }

        #home:hover {
            text-decoration: rgb(166, 0, 0) underline;
        }

        #projects {
            margin-right: 1vw;
            padding-left: 1vw;
            padding-right: 1vw;
            border-radius: 1vh;
            color: black;
            text-decoration: transparent underline;
            transition: text-decoration 0.1s;
        }

        #projects:hover {
            text-decoration: rgb(166, 0, 0) underline;
        }

        #contact {
            margin-right: 1vw;
            padding-left: 1vw;
            padding-right: 1vw;
            border-radius: 1vh;
            color: black;
            text-decoration: rgb(166, 0, 0) underline;
        }
    }

    .content{
        margin-top: 8px;
        display: flex;
        height: 100vh;
        width: 100vw;


        img{
            z-index: 0;
            position: absolute;
            margin-top: 0;
            margin-left: -8px;
            margin-right: 40vw;
            width: 40vw;
            height:100vh;
            object-fit: cover;
            object-position: 65%;
        }
        #infoBox{
            position: absolute;
            margin-left: 50vw;
            margin-right: 0;
            width: 40vw;
            height: 100vh;

            h1{
                text-align: center;
                font-size: 4vw;
                text-decoration: rgb(166, 0, 0) underline;
            }
            #info{
                padding-left: 3vw;
                width: 100%;
                h3{
                    font-size: 1.5vw;
                }
            }

        }

    }
}


@media (max-width: 1200px) {
    .content {
        display: flex;
        animation: fade-in 1s;
        flex-direction: column;
    }

    .home .topbar {
        font-size: 2vh;
    }
    .home #message {
        order: 2;
        margin-left: calc(50% - 16vh);
        margin-right: auto;
        margin-top: 5vh;

        h1 {
            font-size: 6vh;
            text-align: center;
        }

        h4 {
            font-size: 2vh;
            text-align: center;
        }
    }
    .home #pfp {
        margin-left: calc(50% - 15vh);
        margin-top: 5vh;

        img {

            width: 30vh;
            height: 30vh;
        }
    }

    .projects .topbar {
        font-size: 2vh;
    }
    .project{
        height: auto;
        width: auto;
        border: 10px solid;
        border-radius: 10px;
        margin: 5vw 5vw 0;
        background-color: ghostwhite;
        transition: filter 0.1s, margin 0.1s;

        .projectTitle{
            display: flex;
            h3{
                font-size: 3vh;
                margin-left: 0.75vw;
            }
            h4{
                font-size: 2vh;
                margin-right: 0.75vw;
                margin-left: auto;
            }
        }
        .projectDescription{
            margin-left: 0.75vh;
            margin-right: 0.75vw;
            font-size: 1.5vw;
        }
    }
    .contact .topbar {
        font-size: 2vh;
    }

    .contact .content #infoBox{
        position: absolute;
        margin-left: 45vw;
        margin-right: 0;
        width: 40vw;
        height: 100vh;

        h1{
            text-align: center;
            font-size: 4vw;
            text-decoration: rgb(166, 0, 0) underline;
        }
        #info{
            padding-left: 0;
            width: 100%;
            h3{
                font-size: 1.25vh;
                }
            }
        }

    }
    footer {
        margin-top: 1px;
        display: flex;
        margin-right: 0;
        margin-left: auto;

        #linkedin{
            margin-right: 1vw;
            margin-left: 15vw;
            img {
                width: 4vh;
                height: auto;
            }
        }
        #github{
            margin-right: auto;
            img {
                width: 4vh;
                height: auto;
            }
        }
    }


@media (orientation: landscape) and (max-height: 1180px) {
    .home footer{


    }
    .content{
        display: flex;
        animation: fade-in 1s;
        margin-top: 10vh;
    }
}